/**
Perfiles y filtros
**/
body.profile-A .profile-allow:not(.profile-A),
body.profile-B .profile-allow:not(.profile-B) {
    display: none !important;
}

body.profile-A .profile-deny.profile-A,
body.profile-B .profile-deny.profile-B {
    display: none !important;
}




[data-bs-theme=light]{
    --bs-primary-active: #003a78 !important;
    --bs-primary:#0c776e !important;
    --bs-primary-light:#fff;
    --bs-success-active: #0c776e !important;
    --bs-success: #0c776e !important;

    --bs-component-hover-bg: #B4DFF2 !important;

    --bs-text-primary:var(--bs-primary-active);
    --bs-text-success:var(--bs-primary);
    --bs-component-active-bg:var(--bs-primary-active);
    --bs-component-hover-color:var(--bs-primary-active);
    --bs-component-checked-bg:var(--bs-primary-active);
    --bs-menu-link-color-hover:var(--bs-primary-active);
    --bs-menu-link-color-show:var(--bs-primary-active);
    --bs-menu-link-color-here:var(--bs-primary-active);
    --bs-menu-link-color-active:var(--bs-primary-active);
    --bs-ribbon-label-bg:var(--bs-primary-active);
    --bs-ribbon-label-border-color:var(--bs-primary-active);    
}

.btn-primary{
    background-color: var(--bs-primary-active) !important;
}

.button-filter.btn-light-primary, .button-filter.btn-light-primary i {
    background-color: var(--bs-primary);
    color: var(--bs-primary-light);
}

.app-header .btn-back-wp, .app-header .btn-back-wp i {
    background-color: var(--bs-primary) !important;
    color: var(--bs-primary-light) !important;
}

.form-check-input:checked {
    background-color: var(--bs-primary-active);
}

.btn:hover{
    opacity: 0.8 !important;
}

.booklet-table-container table {
    width: 100%;
    height: 800px;
    table-layout: fixed;
}

.booklet-table-container table tr,
.booklet-table-container table td {
    border-color: #f4f4f4 !important;
}

.booklet-table-container td {
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: top !important;
}

.booklet-table-container td .booklet-product-image {

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.file-info-container{
    min-height: 120px;
}

.file-info-container .btn-delete-file{
    position: absolute;
    top: 12px;
    right: 24px;
}

.file-info-container .btn-delete-file i {
    font-size: 20px;
}

.file-info-container .file-container{
    position: relative;
}

.file-info-container .file-info{
    background-color: #f6f6f6;
    border-radius: 6px;
    color: inherit !important;
}

form.data-form .card .card-body .file-info-container .file-info .row > *{
    margin-bottom: 0 !important;
}

.file-info-container .file-info i{
    font-size: 50px;
}

.stepper.stepper-pills{
    --bs-stepper-icon-bg-color:var(--bs-primary-active);
    --bs-stepper-icon-bg-color-current:var(--bs-primary);
    --bs-stepper-icon-bg-color-completed:var(--bs-primary-active);
    --bs-stepper-icon-number-color:var(--bs-white);
    --bs-stepper-icon-number-color-current:var(--bs-white);
    --bs-stepper-label-title-color:var(--bs-gray-600);
    --bs-stepper-label-title-color-current:var(--bs-gray-800);
    --bs-stepper-label-title-color-completed:var(--bs-gray-600);
}

.stepper.stepper-pills .stepper-item.completed .stepper-icon .stepper-number {
    display: block;
}

.stepper.stepper-pills .stepper-item{
    flex: 1;
}

@media (max-width: 1199px) {
    .stepper.stepper-pills .stepper-item .stepper-label .stepper-title {
        font-size: 1.1rem;
    }

    .stepper.stepper-pills .stepper-item .stepper-icon .stepper-number {
        font-size: 1.15rem;
    }

    .stepper.stepper-pills .stepper-item .stepper-icon {
        margin-right: 0.9rem;
    }
}

@media (max-width: 830px) {
    .stepper.stepper-pills .stepper-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 50%;
    }
}

@media (max-width: 520px) {
    .stepper.stepper-pills .stepper-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
    }
}

.custom-svg-icon.icon-booklet{
    width: 24px;
    height: 24px;
}

.custom-svg-icon.icon-flyer{
    width: 22px;
    height: 22px;
}

.custom-svg-icon.icon-prescription{
    width: 22px;
    height: 22px;
}

.custom-svg-icon.icon-product{
    width: 32px;
    height: 32px;
}

.app-sidebar-nav .custom-svg-icon path,
.app-sidebar-nav .custom-svg-icon polygon{
    fill: var(--bs-text-gray-600);
}

.app-sidebar-nav .nav-link.active .custom-svg-icon path,
.app-sidebar-nav .nav-link:hover .custom-svg-icon path,
.app-sidebar-nav .nav-link.active .custom-svg-icon polygon,
.app-sidebar-nav .nav-link:hover .custom-svg-icon polygon{
    fill: var(--bs-primary);
}

.menu-state-dark .menu-item .menu-link.active .menu-icon, 
.menu-state-dark .menu-item .menu-link.active .menu-icon .svg-icon, 
.menu-state-dark .menu-item .menu-link.active .menu-icon i,
.menu-state-dark .menu-item.here>.menu-link .menu-icon, 
.menu-state-dark .menu-item.here>.menu-link .menu-icon .svg-icon, 
.menu-state-dark .menu-item.here>.menu-link .menu-icon i,
.menu-state-dark .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon i,
.menu-state-dark .menu-item.show>.menu-link .menu-icon, 
.menu-state-dark .menu-item.show>.menu-link .menu-icon .svg-icon, 
.menu-state-dark .menu-item.show>.menu-link .menu-icon i {
    color: var(--bs-primary);
}

form.data-form .json-content-form .card {
    margin-bottom: 0 !important;
}

.json-content-form .btn-group{
    margin-bottom: 25px;
}

.json-content-form [data-schematype="array"] .card-title{
    display: none !important;
}

.json-content-form [data-schematype="array"] .card-body{
    padding: 0 !important;
    margin: 0 !important;
}

.json-content-form .json-editor-btn-add.json-editor-btntype-add {
    border-top-right-radius: var(--bs-btn-border-radius) !important;
    border-bottom-right-radius: var(--bs-btn-border-radius) !important;
    height: 43.5px;
} 

.json-content-form [data-schematype="array"] [data-schematype="object"] > .btn-group{
    border-radius: 0.55rem !important;
    /*overflow: hidden;*/
    height: 43.5px;
    margin-top: 27px;
    position: absolute;
    
    position: absolute;
    right: 10px;
    top: -16px;
}

.json-content-form [data-schematype="array"] [data-schematype="object"]{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.json-content-form [data-schematype="array"] tr[data-schematype="object"] {
    display: table-row;
}


.json-content-form [data-schematype="array"] [data-schematype="object"] .card-body + div,
.json-content-form .json-editor-btntype-delete span{
    display: none !important;
}

.json-content-form input[type="color"]{
    height: 40.38px;
    padding: 0 !important;
}

.json-content-form .json-editor-btn- {
    color: var(--bs-secondary-inverse);
    border-color: var(--bs-secondary);
    background-color: var(--bs-secondary);
}

.json-content-form .json-editor-btn-:hover{
    color: var(--bs-secondary-inverse);
    border-color: var(--bs-secondary-active);
    background-color: var(--bs-secondary-active) !important;
}

.json-content-form a[target="_blank"]{
    color: var(--bs-primary-active) !important;
}

.json-content-form.disable-edit [data-schematype="array"] [data-schematype="object"] .card-body > div > div{
    display: flex;
    align-items: center;
}

.json-content-form.disable-edit [data-schematype="array"] [data-schematype="object"] .card-body > div > div > div:last-child{
    flex-grow: 1;
}

.json-content-form.disable-edit [data-schematype="boolean"][data-schemapath$=".active"] .form-check-label{
    display: none;
}

.json-content-form.disable-edit [data-schematype="boolean"][data-schemapath$=".active"]{
    margin-right: 10px;
    margin-top: 27px;
}



.json-content-form [data-schemapath="root"] .card-body{
    padding: 0;
}

.json-content-form .je-upload-preview {
    display: none !important;
}

.json-content-form .je-upload-preview img{
    max-height: 15rem  !important;
    margin-top: 10px !important;
}

.json-content-form .progress{
    display: none !important;
}

.uploaded-image img{
    max-height: 15rem !important;
    margin-top: 10px !important;
}

.pincode-input-container input {
    border-width: 1px !important;
}

.select2-container--bootstrap5 .select2-dropdown .select2-results__option.selected-other-select,
.select2-container--bootstrap5 .select2-dropdown .select2-results__option.selected-other-select:hover {
    color: var(--bs-primary) !important;
    background-color: transparent !important;
    opacity: 0.5;
    cursor: default;
}

.allow-save-invalid:after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: var(--bs-primary);
    padding-left: .25rem;
    font-weight: 600;
}

label.error{
    text-align: left;
}

.booklet-layouts .icon-booklet-layout {
    width: 40px;
}

.booklet-layouts [data-booklet-layout].active svg .cls-1 {
    fill: var(--bs-primary);
}

.booklet-layouts ~ .select2 {
    display: none;
}

.header-project-title {
    font-size: 26px;
    font-weight: bold;
    color: var(--bs-primary-active);
}

@media (min-width: 992px) {
    .app-header .btn-back-wp {
        margin-left: -14px;
    }
}



.json-content-form .card > div{
   /* border: 1px solid red;*/
}


.card-title .level-3 > label{
    display: none;
}
h3.level-4 button, 
h3.level-4 label 
{
    display: none !important;
}


.card-title.level-5 button,
.card-title.level-7 button{
    display: none;
}
.card-title.level-5 label,
.card-title.level-7 label{
    font-size: 24px;
    color: var(--bs-primary);
    position: relative;
    top: 0;
    left: 0;    
}

.card-title.level-5,
.card-title.level-7{
    height: 30px;
}



.json-content-form [data-schematype="array"] .card-title{
    display: block !important;
    width: 100px;
}


.json-content-form [data-schematype="array"] .card-title.level-2{
    display: none !important;
}

.json-content-form [data-schemapath^="root.group"] > .card-title{
 /*   display: none !important;*/
 /* TODO REVISAR AQUÃ*/
}


.json-content-form [data-schematype="array"] [data-schematype="object"] .card-body,
form.data-form .json-content-form .card{
    /*background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;*/

}


.json-content-form:not(.disable-edit) [data-schematype="array"] [data-schematype="object"] .card-body {
    max-width: calc(100% - 10px);
    width: 100%;
}

.json-content-form [data-schematype="array"] [data-schematype="object"] > .card-body {
    border: 2px solid rgb(0, 58, 120);
    padding: 30px !important;
    margin-left: 0px !important;
    margin-right: 30px !important;
    margin-bottom: 30px !important;
    background-color: transparent;
    background-color: rgba(0,0,0,0.02) !important;
}


.json-content-form .bg-light{
    background-color: transparent !important;
}

.json-content-form .level-1 ~ .card-body,
.json-content-form .level-2 ~ .card-body,
.json-content-form .level-3 ~ .card-body {
    padding: 0 !important;
    margin: 0 !important;
}

.json-content-form h3 label{
    position: absolute;
    top: -22px;
    left: 100px;
}
.json-content-form .btn-group{
    margin: 0 !important;
    height: auto;
}

.json-content-form .level-5 ~ .card-body,
.json-content-form .level-7 ~ .card-body{
    border: 0 !important;
    background: transparent !important;
    margin-left: 0 !important;
}


.json-content-form [data-schematype="array"] > .card-body{
    border: 0 !important;
    background-color: transparent !important;
    margin-left: 0 !important;
    margin-top: 30px !important
}

.json-content-form .card-title.level-4 ~ .card-body{
    background-color: transparent !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;    
}

.json-content-form .form-check-label{
    color: var(--bs-gray-800);;

}

.select2-logo-image{
    width: 100px;
    height: 100px;
}
.select2-banner-image{
    width: auto;
    height: 100px;
}

h3 > .json-editor-btn-collapse[title="Expand"] ~ label{
    top: 2px;
}






.product-select2-info{
    display: inline-block;    
}
.select2-banner-image{
    vertical-align: top !important;
}

.product-select2-info > div{    
    display: block;
    padding-bottom: 8px;
}




.json-content-form input[type="file"].form-control ~ div > div > img{
    display: none;
    border: 10px solid red;
}

#mt-recipe-form .json-content-form .card-title.level-7 + .card-body > .table > thead > tr > th:first-child::after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: var(--bs-danger);
    padding-left: .25rem;
    font-weight: 600;
}

#mt-recipe-form .json-content-form .card-title.level-4.je-object__title {
    display: none !important;
}

.json-content-form .json-form-hidden {
    display: none !important;
}

.image-select input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.image-select img {
    cursor: pointer;
    border: 2px solid transparent;
    max-width: 150px;
}

.image-select input[type="radio"]:checked + label img {
    border-color: var(--bs-primary);
}

.image-select-container > div {
    gap: 14px;
    overflow-y: scroll;
}

.form-disabled-section {
    display: none;
}

.form-check-input[type="radio"]:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-link {
    color: var(--bs-primary) !important;
}

.btn-link:hover {
    text-decoration: underline !important;
    opacity: 1 !important;
}

.json-content-form .required:after {
    display: none;
}

.json-content-form .required-container .required:after {
    display: inline;
}

input[type="file"] ~ div .form-control{
    background-color: #FFF !important;
    border: 1px solid var(--bs-gray-300)
}

.color-option {
    width: 30px;
    height: 30px;
}